.header {
  width: 100%;
  background-color: #ccc7cb;
  color: rgb(26, 23, 23);
  text-align: center;
  font-size: 4rem;
  font-family: "Oswald", sans-serif;
  letter-spacing: -0.5px;
  margin-bottom: 20px;
}

.row {
  text-align: center;
  display: flex;
  justify-content: center;
}

.row > div {
  display: block;
  width: 60px;
  height: 60px;
  border: 1px solid #bbb;
  border-radius: 45%;
  margin: 4px;
  text-align: center;
  line-height: 60px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 2.5em;
  transition: transform 0.2s ease-in-out;
}

.row > div.green {
  --background: #5a9cc8;
  --border-color: #5a9cc8;
  animation: flip 0.5s ease forwards;
}

.row > div.grey {
  --background: #a1a1a1;
  --border-color: #a1a1a1;
  animation: flip 0.5s ease forwards;
}

.row > div.yellow {
  --background: #e1cc68;
  --border-color: #e1cc68;
  animation: flip 0.5s ease forwards;
}

.row > div:nth-child(2) {
  animation-delay: 0.2s;
}

.row > div:nth-child(3) {
  animation-delay: 0.4s;
}

.row > div:nth-child(4) {
  animation-delay: 0.6s;
}

.row > div:nth-child(5) {
  animation-delay: 0.8s;
}

.row.current > div.filled {
  animation: bounce 0.2s ease-in-out forwards;
}

.keypad {
  max-width: 500px;
  margin: 20px auto;
}

.keypad > div {
  margin: 5px;
  width: 40px;
  height: 50px;
  background: #a8a6a6;
  display: inline-block;
  border-radius: 6px;
  line-height: 50px;
  font-size: 1.7rem;
  font-family: "Oswald", sans-serif;
}

.keypad > div.green {
  background: #7095be;
  color: #fff;
  transition: all 0.3s ease-in;
}

.keypad > div.yellow {
  background: #e2cc68;
  color: #fff;
  transition: all 0.3s ease-in;
}

.keypad > div.grey {
  background: #b13131;
  color: #fff;
  transition: all 0.3s ease-in;
}

.keypadFooter {
  display: flex;
  justify-content: space-around;
  width: 70%;
}

.icon-buttons {
  display: flex;
  justify-content: center;
  gap: 25px;
  margin-bottom: 10px;
}

.icon-button {
  background-color: transparent;
  border: 2px solid transparent; /* Color del contorno */
  border-radius: 50%; /* Redondea el botón */
  padding: 10px;
  margin: 5px;
  cursor: pointer;
  transition: border-color 0.3s, transform 0.3s;
}

.icon-button img {
  width: 26px; /* Ajusta el tamaño de la imagen */
  height: 20px;
}

/* Estilo para el botón seleccionado */
.icon-button.selected {
  border-color: #007bff; /* Color del contorno cuando está seleccionado */
  transform: scale(1.1); /* Efecto de escala cuando está seleccionado */
}

/* Puedes añadir otros estilos para el hover si lo deseas */
.icon-button:hover {
  border-color: #0056b3; /* Color del contorno en hover */
}

.action-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  font-size: 1.5rem;
  background-color: #28a745; /* Color verde */
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}

.action-button:hover {
  background-color: #218838;
}

.modal {
  background: rgba(255, 255, 255, 0.7);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.modal div {
  max-width: 480px;
  background: #fff;
  padding: 40px;
  border-radius: 20px;
  margin: 10% auto;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
}

.modal .solution {
  color: #d3567b;
  font-weight: bold;
  font-size: 0.8em;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.footer {
  width: 100%;
  background-color: #333;
  color: white;
  text-align: center;
  font-family: "Oswald", sans-serif;
  padding: 2px;
  margin-top: 8px;
}

.solution {
  color: #d3567b;
  font-weight: bold;
  font-size: 0.8em;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 5px;
}

@keyframes flip {
  0% {
    transform: rotateX(0);
    background: #fff;
    border-color: #333;
  }
  45% {
    transform: rotateX(90deg);
    background: #fff;
    border-color: #333;
  }
  55% {
    transform: rotateX(90deg);
    background: var(--background);
    border-color: var(--border-color);
    color: #eee;
  }
  100% {
    transform: rotateX(0deg);
    background: var(--background);
    border-color: var(--border-color);
    color: #eee;
  }
}

@keyframes bounce {
  0% {
    transform: scale(1);
    border-color: #ddd;
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
    border-color: #333;
  }
}

/* Media Queries para Responsividad */
@media (max-width: 768px) {
  .row > div {
    width: 50px;
    height: 50px;
    font-size: 2em;
    line-height: 50px;
  }

  .keypad > div {
    width: 35px;
    height: 45px;
    font-size: 1.5rem;
  }

  .action-button {
    font-size: 1.3rem;
    padding: 8px;
  }

  .header {
    width: 100%;
    background-color: #ccc7cb;
    color: rgb(26, 23, 23);
    text-align: center;
    font-size: 2rem;
    font-family: "Oswald", sans-serif;
    letter-spacing: -0.5px;
  }
}

@media (max-width: 480px) {
  .row > div {
    width: 40px;
    height: 40px;
    font-size: 1.5em;
    line-height: 40px;
  }

  .keypad > div {
    width: 30px;
    height: 40px;
    font-size: 1.2rem;
  }

  .action-button {
    font-size: 1rem;
    padding: 6px;
  }

  .modal div {
    width: 90%;
    padding: 20px;
  }

  .header {
    width: 100%;
    background-color: #ccc7cb;
    color: rgb(26, 23, 23);
    text-align: center;
    font-size: 2rem;
    font-family: "Oswald", sans-serif;
    letter-spacing: -0.5px;
  }
}
